@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



body {
  background-color: rgba(56, 55, 55, 0.555);
  color: rgb(255, 255, 255);
  z-index: -99;
}
.div_space_defaul{
  height: 50px;
}

.landing_page{
  display: flex;
  flex-direction: column;
}

.home_header{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.spiker_text{
  font-size: 7em;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

.content_header{
  align-content: center;
  text-align: center;
  padding: 0;
}

.display-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .social-header{
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ff653b, #6f03f4);
  cursor: pointer;
 }

/*button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}*/

.house-food{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Playfair Display', serif;
}
.house-food{
  background : url('../src/assets/media/autumn-2902532_1920.jpg');
  background-size:cover;
  overflow: visible;
  background-attachment:fixed;
}
/*
button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #f43303, #9541f4, #ffeb3b, #0363f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03f413, #f441a5, #ffeb3b, #03a9f4);
}*/

//responsive site onMobile

@media (max-width: 1024px) {
  .spiker_text{
    font-size: 3em;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .home_header{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0 auto
  }
  .landing_page{
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .spiker_text{
    font-size: 2em;
    margin: 0 auto;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .home_header{
    display: flex;
    flex-direction: column;
    padding: 3em;
    text-align: center;
  }
  .landing_page{
    display: flex;
    flex-direction: column;
  }
}

